*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;

    min-height: 100vh;
    width: clamp(300px, 90%, 1200px);
    padding: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#productImg{
    width: 600px;
    height: 500px;
    object-fit: contain;

    border: 2px solid black;
}

.content{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

#colorBox{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#color{
    height: 50px;
    width: 50px;

    border: 2px solid blue;
}

#sizeBox{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#sizeGrid{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.size{
    border: 2px dashed grey;
    padding: .5rem;

    cursor: pointer;

    &.contain{
        border-style: solid;
        border-color: black;
    }

    &.selected{
        border-color: blue;
    }
}

#buttonBox{
    margin-top: 2rem;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    & button{
        height: 4rem;
        width: 100%;

        font-size: 1.25rem;
    }
}

@media (max-width: 900px){
    body{
        flex-direction: column;
        justify-content: start;
    }

    #productImg{
        width: 100%;
        height: auto;
    }
}